body{
    background-color: plum;
}
.container {
    
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
  }
  
  .full-cake {
    border: 2px solid black;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 400px;
    width: 300px;
    margin: auto;
  }
  
  .cake-lower {
    border: 1px solid #654321;
    background-color: #654321;
    height: 100px;
    width: 99px;
    left: 74px;
    top: 200px;
    position: absolute;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-right-radius: 18%;
    border-bottom-left-radius: 18%;
  }
  
  .cake-top {
    width: 100px;
    height: 50px;
    background: #9f6934;
    border-radius: 50px / 25px;
    left: 75px;
    top: 190px;
    position: absolute;
  }
  
  .plate {
    width: 200px;
    height: 100px;
    background-image: linear-gradient( to left,white, gray, white);
    border-radius: 125px / 64px;
    left: 22px;
    top: 230px;
    position: absolute;
    border-style:  groove;
  }

  .plate-base {
    width: 150px;
    height: 100px;
    background-image: linear-gradient( to left, gray, white);
    border-radius: 125px / 64px;
    left: 49px;
    top: 240px;
    position: absolute;
    z-index: -1;
    border-style: groove;
  }

  .icing1{
    width: 10px;
    height: 30px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 100px;
    top: 230px;
    z-index: 4;
    position: absolute;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
  }

  .icing2{
    width: 10px;
    height: 30px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 85px;
    top: 220px;
    position: absolute;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
  }

  .icing3{
    width: 10px;
    height: 36px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 150px;
    top: 230px;
    z-index: 4;
    position: absolute;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
  }

  .icing4{
    width: 10px;
    height: 26px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 135px;
    top: 230px;
    z-index: 4;
    position: absolute;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
  }

  .icing5{
    width: 8px;
    height: 36px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 167px;
    top: 214px;
    position: absolute;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
  }

  .icing7{
    width: 8px;
    height: 31px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 118px;
    top: 222px;
    z-index: 4;
    position: absolute;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
  }

  .icing8{
    width: 8px;
    height: 51px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 74px;
    top: 207px;
    position: absolute;
    border-top-left-radius: 1900px;
    border-bottom-left-radius: 1000px;
    border-bottom-right-radius: 1000px;
    z-index: 4;
  }

  .cake-below-base{
    width: 99px;
    height: 37px;
    background: #654321;
    border-radius: 130px / 50px;
    left: 75px;
    top: 271px;
    position: absolute;
    z-index: 1;
  }

  .bottom-cream{
    width: 99px;
    height: 37px;
    background: linear-gradient(#654321, #654321,rgb(245, 128, 128));
    border-radius: 130px / 50px;
    left: 75px;
    top: 251px;
    position: absolute;
    z-index: 3;
    
  }

  .bottom-cream1{
    width: 99px;
    height: 37px;
    background: linear-gradient(#654321, #654321, #654321);
    border-radius: 130px / 50px;
    left: 75px;
    top: 245px;
    position: absolute;
    z-index: 3;
    
  }

  .cake-lower1 {
    border: 1px solid #654321;
    background-color: #654321;
    height: 50px;
    width: 65px;
    left: 90px;
    top: 160px;
    position: absolute;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    z-index: 1; 
  }

  .cake-top-base {
    width: 67px;
    height: 35px;
    background: #654321;
    border-radius: 130px / 80px;
    left: 90px;
    top: 182px;
    position: absolute;
    z-index: 1;
  }
  
  .cake-top1 {
    width: 67px;
    height: 35px;
    background: #9f6934;
    border-radius: 130px / 80px;
    left: 90px;
    top: 149px;
    position: absolute;
    z-index: 1;
  }

  .icing11{
    width: 5px;
    height: 16px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 126px;
    top: 180px;
    position: absolute;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 1000px;
    z-index: 1;
  }

  .icing21{
    width: 5px;
    height: 15px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 99px;
    top: 176px;
    position: absolute;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
    z-index: 1;
  }

  .icing31{
    width: 5px;
    height: 18px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 152px;
    top: 169px;
    position: absolute;
    z-index: 1;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
  }

  .icing41{
    width: 5px;
    height: 18px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 143px;
    top: 178px;
    z-index: 1;
    position: absolute;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
  }

  .icing51{
    width: 5px;
    height: 18px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 134px;
    top: 172px;
    z-index: 1;
    position: absolute;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
  }

  .icing61{
    width: 5px;
    height: 22px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 109px;
    top: 168px;
    position: absolute;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
    z-index: 1;
  }

  .icing71{
    width: 5px;
    height: 26px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 118px;
    top: 168px;
    position: absolute;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
    z-index: 1;
  }

  .icing81{
    width: 5px;
    height: 24px;
    background: #9f6934;
    border-radius: 125px / 64px;
    left: 90px;
    top: 168px;
    position: absolute;
    z-index: 1;
    border-bottom-left-radius: 600px;
    border-bottom-right-radius: 600px;
  }

  .cherry1{
      width: 8px;
      height: 8px;
      border-radius: 50%;
      position: absolute;
      top: 200px;
      left: 154px;
      z-index: 1;
      background-color: rgba(255, 32, 32, 0.871);
  }
  
  .cherry2{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 203px;
    left: 150px;
    z-index: 1;
    background-color: rgb(251, 115, 115);
}
.cherry3{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 206px;
    left: 146px;
    z-index: 1;
    background-color: rgba(255, 32, 32, 0.871);
}

.cherry5{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 209px;
    left: 140px;
    z-index: 1;
    background-color: rgb(251, 115, 115);
}

.cherry4{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 210px;
    left: 134px;
    z-index: 2;
    background-color: rgba(255, 32, 32, 0.871);
}
.cherry6{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 211px;
    left: 127px;
    z-index: 2;
    background-color: rgb(251, 115, 115);
}

.cherry7{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 212px;
    left: 121px;
    z-index: 2;
    background-color: rgb(255, 31, 31);
}
.cherry8{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 212px;
    left: 114px;
    z-index: 2;
    background-color: rgb(251, 115, 115);
}

.cherry9{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 211px;
    left: 109px;
    z-index: 2;
    background-color: rgba(255, 32, 32, 0.871);
}
.cherry11{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 210px;
    left: 102px;
    z-index: 2;
    background-color: rgb(251, 115, 115);
}
.cherry10{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 203px;
    left: 90px;
    z-index: 2;
    background-color: rgb(251, 115, 115);
}
.cherry12{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 207px;
    left: 96px;
    z-index: 1;
    background-color: rgba(255, 32, 32, 0.871);
}
.cherry13{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    top: 200px;
    left: 85px;
    z-index: 1;
    background-color: rgba(255, 32, 32, 0.871);
}

.A{
    height: 30px;
    width: 3px;
    transform: rotate(20deg);
    position: absolute;
    top: 130px;
    left:99px;
    background-color: black;
    z-index: 1;
}

.A::before{
    content: '';
    height: 30px;
    width: 3px;
    transform: rotate(-40deg);
    position: absolute;
    top: 0px;
    left:12px;
    background-color: black;
    z-index: 1;
}

.A::after{
    content: '';
    width: 15px;
    height: 3px;
    transform: rotate(-20deg);
    top: 40px;
    left:0px;
    background-color: black;
    z-index: 1;
    position: absolute;
}




  


  